<h5>1- Assign String To a Variable </h5>

In [4]:
greeting = 'Hello World' # both single and double quotes
greeting

'Hello World'

<h5> 2- Multiline String </h5>

In [8]:
x = """
My name is Hozayfa,
What is yours?
"""
x

'\nMy name is Hozayfa,\nWhat is yours?\n'

<h5>3- Strings are Arrays </h5>

In [11]:
a = "Hello, World!"
#a[1]

<h5> 4- Slicing </h5>

In [33]:
b = "Hello, World!"
# b[2:5]
# b[-5:-2] # Negative Indexign
# b[-5:2]
# b[5:2]
# b[5:-2]
# b[::-1]
# b[::2]

<h5> 5- String Methods </h5>

In [67]:
', '.join(dir(b)[33:]).casefold()

'capitalize, casefold, center, count, encode, endswith, expandtabs, find, format, format_map, index, isalnum, isalpha, isdecimal, isdigit, isidentifier, islower, isnumeric, isprintable, isspace, istitle, isupper, join, ljust, lower, lstrip, maketrans, partition, replace, rfind, rindex, rjust, rpartition, rsplit, rstrip, split, splitlines, startswith, strip, swapcase, title, translate, upper, zfill'

<p>5-1 The <code>len()</code> function returns the length of a string:</p>

In [63]:
b = "Hello, World!"
len(b)

13

5-2 The<code>strip()</code> method removes any whitespace from the beginning or the end:

In [72]:
b = "          Hello, World!         "
b.strip() # returns "Hello, World!"

'Hello, World!'

5-3 The<code>lower()</code> method returns the string in lower case:

In [74]:
b = "HELLO, WORLD!"
b.lower()

'hello, world!'

5-4 The <code>upper()</code> method returns the string in upper case

In [75]:
b = "hello world!"
b.lower()

'hello world!'

5-5 The <code>replace()</code> method replaces a string with another string:

In [79]:
b = "hello world!"
b.replace('l', '#')

'he##o wor#d!'

5-6 The <code>split()</code> method splits the string into substrings if it finds instances of the separator:

In [91]:
a = "hello, my name is hozayfa, and i am a cs student"
a.split(', ') # Returns a list

['hello', 'my name is hozayfa', 'and i am a cs student']

<h5> 6- Check String </h5>

In [93]:
txt = "The rain in Spain stays mainly in the plain"
x = "Spain" in txt
print(x)

True

<h5> 7- String Concatenation </h5>

In [95]:
a = "Hello"
b = " World"
c = a + b
c

'Hello World'

<h5>8- String Format </h5>

In [136]:
"""
%s - String (or any object with a string representation, like numbers)
%d - Integers
%f - Floating point numbers
%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.
"""

name, age, gpa = 'Hozayfa', 21, 3.05
text = "My name is %s and I am %d and my gpa is %.2f " % (name, age, gpa)
text

'My name is Hozayfa and I am 21 and my gpa is 3.05 '

In [112]:
name, age = 'Hozayfa', 21
# txt = "My name is " + name + " and I am " + str(age) # Normal Way
text = "My name is {} and I am {}".format(name, age) # Formay Method
text

'My name is Hozayfa and I am 21'

In [135]:
quantity, itemno, price = 3, 567, 49.9500
myorder = "I want to pay {2:.2f} dollars for {0} pieces of item {1}.".format(quantity, itemno, price)
myorder

'I want to pay 49.95 dollars for 3 pieces of item 567.'

In [139]:
name, age, gpa = 'Hozayfa', 21, 3.05
text = f"my name is {name} and I am {age} years old. My GPA is {gpa:.1f}"
text

'my name is Hozayfa and I am 21 years old. My GPA is 3.0'